<div class="overflow">
    <div class="content">
        <div>
            <ui-label>配置表所在路径：</ui-label>
        </div>
        <div>
            <ui-file id="fileConfigPath" style="width: 100%;" :value="configPath" type="directory"></ui-file>
        </div>
        <div>
            <ui-label>数据文件输出目录：</ui-label>
        </div>
        <div>
            <ui-file id="fileDataPath" style="width: 100%;" :value="jsonPath" type="directory"></ui-file>
        </div>
        <div>
            <ui-label>脚本文件输出目录：</ui-label>
        </div>
        <div>
            <ui-file id="fileScriptPath" style="width: 100%;" :value="jsonPath" type="directory"></ui-file>
        </div>
        <div>
            <ui-label>操作按钮：</ui-label>
        </div>
        <div>
            <ui-button id="btnGenJson" class="button" style="width: 100%;">构建</ui-button>
        </div>
        <div>
            <ui-label>构建进度：</ui-label>
        </div>
        <div>
            <ui-progress id="progress" style="width: 100%;" max="100"></ui-progress>
        </div>
    </div>
</div>